@import "tailwindcss";

:root {
  --background: #fff9eb;
  --foreground: #370808;
  --accent: #f0e7d7;
}

@theme inline {
  --breakpoint-xs: 30rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-instrument-serif: var(--font-instrument-serif);
  --font-geist-sans: var(--font-geist-sans);
}

*{
  outline: 1px solid rebeccapurple;
}